@media all and (max-width: 768px) and (min-width: 320px) {
.container {
    padding-left: 12px;
    padding-right: 12px;
}
.position_second {
    order: 1;
}
.position_first {
    order: 0;
}
.space_mobile {
    margin-top: 12px;
}

.price_background {
    width: 100%!important;
}
}
@media all and (min-width: 1000px) {
    .icons {
        justify-content: end;
    }
    .icon_text {
        justify-content: start;
    }
    .header_mobile {
        display: none;
    }
  
}
@media all and (min-width:900px) and (max-width: 1200px) {
    .price_background_width {
        width: 100%!important;
    }
}
@media(max-width:768px) {
    .header_desktop {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}
.header_backgroud {
    width: 100%;
    height: 60px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
    background: #1E1E1E;
}
.header_main_text {
    font-family: 'Inter', sans-serif; 
    font-weight: 700; 
    color: #f2f2f2;
    font-size: 40px;
}
.header_submain_text {
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
    font-weight: 400;
    color: #f2f2f2;
    margin-top: 16px!important;
}
.gradient_gr_bl {
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #0D0D0D 0%, #1E1E1E 80.09%);
}
.gradient_bl_gr {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0D0D0D 0%, #1E1E1E 80.09%);
}
.main_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #f2f2f2;
    line-height: 58px;
}
.submain_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f2f2f2;
    margin-top: 24px;
}

.main_button {
    background: #F20C1F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
width: 160px;
color: #f2f2f2;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}
.main_button:hover {
    background: #73020C;
    color: #f2f2f2;
}
.main_img {
    height: 1000px;
    width: 1000px;
}
.margin48px {
    margin-top: 48px;
    margin-bottom: 48px;
}
.main_numbers {
    font-weight: 900;
    font-size: 48px;
    color: #f2f2f2;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}
.numbers_text {
    text-align: start;
    margin-top: 8px;
    line-height: 29px;
}
.img_size {
    width: 100%;
}
.title_text {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
text-align: center;
color: #F2F2F2;
text-align: center;
margin-top: 96px;
}

.space_32px {
    padding-top: 32px;
}
.space_96px {
    padding-top: 96px;
}
.space_48px {
    padding-top: 48px;
}
.text_space {
    margin-top: 30px;
}
.icon_center {
    margin-top: auto;
    margin-bottom: auto;
}
.icon_text_space {
  
    margin-top: auto;
    margin-bottom: auto;
}
.price_background {
    justify-content: center;
    width: 350px;
    background: #0D0D0D;
    border-radius: 25px;
    border: 1px solid #1E1E1E;
box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
margin-top: 48px;
margin-left: auto;
margin-right: auto;
}
.price_background:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    z-index: 1;
}
.transition {
    transition: 1s;
}
.price_main_text {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #F2F2F2;
margin-top: 24px;
}
.gor_line {
    height: 1px;
    width: 94%;
    background: #1E1E1E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.submain_text_dis {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #404040;
    margin-top: 12px;
}
.none_decor {
    text-decoration: none;
    margin-top: 0px;
}
.none_decor:hover {
    color: grey;
}
.mob_header_main_text {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
color: #F2F2F2;
margin-top: 14px;
}
.burger_button {
    background: url(images/hamburger.svg);
    height: 35px;
    width: 35px;
    margin-top: 14px;
    display: flex;
    justify-content: start;
    position: relative;
    margin-left: -45px;
    
}
.header_desktop {
    position: fixed;
    z-index: 3
}